*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
  color: #001b44;
}

h3{
  font-family: "Roboto", sans-serif;
  background-color: #001b44;
  color: aqua;
}

button{
  font-family: "Roboto", sans-serif;
  background-color: blue;
  color: aqua;
}

